/* colours */
:root {
  --primary: #ffd2a3;
  --secondary: #ffc58e;
  --title: #ff7202;
  --btnSelected: #ff9d2e;
  --bg: #f7f7d5;
  --green: #33683e;
  --green2: #5aab6b;

  --red: #c91925;
  --blue: #22338e;
  --black: #000000;
}

body {
  overscroll-behavior-y: contain;
}

/* layout styles */
nav {
  background: var(--green);
  border-bottom: 2px solid var(--black);
}
nav a {
  text-transform: uppercase;
  color: var(--red);
  font-size: 1.5em;
}
nav a span {
  font-weight: bold;
}
nav .sidenav-trigger {
  margin: 0;
}

.nav-wrapper {
  user-select: none;
}

/* recipe styles */
.recipes {
  margin-top: 20px;
}
.card-panel.recipe {
  border-radius: 8px;
  padding: 10px;
  /* box-shadow: 0px 1px 3px rgba(90, 90, 90, 0.1); */
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: 'image details delete';
  position: relative;
  background-color: #f7f7f7;
  z-index: 10;
  user-select: none;
}
.card-panel i {
  user-select: none;
}
.recipe img {
  grid-area: image;
  max-width: 60px;
}
.recipe-details {
  grid-area: details;
  margin-top: 6px;
}
.recipe-delete {
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}
.recipe-delete i {
  font-size: 22px;
}
.recipe-title {
  font-weight: 800;
  font-size: 1.2rem;
  color: var(--blue);
}
.recipe-ingredients {
  font-size: 0.8em;
}
.material-icons {
  user-select: none;
}

/* form-styles */
.add-btn {
  /* background: var(--title) !important;  */
  width: 36px;
  height: 28px;
  padding: 0;
  cursor: pointer;
  margin: 2rem 0 0 0;
  user-select: none;
}
input {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
.side-form button {
  background: var(--title);
  box-shadow: 1px 1px 3px rgba(90, 90, 90, 0.2);
  padding: 4px 4px;
  background: #ffffff;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  margin: 20px;
  border: 2px solid;
  border-radius: 10px;
  border-color: var(--green);
  width: 60px;
  color: var(--red);
}
form .input-field {
  margin-top: 30px;
}

.mjmain {
  /* display: flex; */
  flex-wrap: wrap;
  display: grid;
  place-items: center;
  margin-bottom: 20%;
  margin-top: 5%;
}

.playerbox {
  border-radius: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  font-family: sans-serif;
  flex-direction: column;
  user-select: none;
  background: #f9f9f9;
  border: 11px solid;
  border-color: #33683e;
  color: var(--blue);
  font-weight: 700;
}

.playerbox.selected {
  background-color: var(--btnSelected);
  user-select: none;
}

.player-row {
  /* border: 1px solid black;
  background: lightpink;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  margin: 20px auto;
  width: 100%;
  height: 100vw;
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  max-height: 60vh;
}

.player-row-confirm {
  /* border: 1px solid black;
  background: lightpink;
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  margin: 20px auto;
  width: 100%;
  height: 50vw;
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: auto auto;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.mjmain .playername {
  /* width: 100%; */
  text-align: center;
}

.mjmain .playerscore {
  width: 100%;
  text-align: center;
  color: black;
  font-size: 3rem;
}
.eat-button img {
  max-width: 100%;
  /* max-height: 100%; */
  height: auto;
}

.mjmain .eat-button {
  padding: 4px 4px;
  background: #ffffff;
  border: 0;
  font-weight: bold;
  font-family: inherit;
  cursor: pointer;
  margin: 20px;
  border: 2px solid;
  border-radius: 10px;
  border-color: var(--green);
  width: 60px;
  /* height: 52px; */
}

.record-box {
  /* background: url(../img/bg.jpeg); */
  /* background-attachment: fixed; */
  /* padding-right: 5px; */
  /* overflow-y: scroll; */
  flex: 1;
  width: 100%;
  background-color: #f7f7f7;
}

.mjmain .record {
  display: flex;
  margin: 6px 0 0 0;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  overflow: hidden;
  padding: 8px 2px;
  word-break: normal;
  font-weight: inherit;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-baqh {
  text-align: center;
  vertical-align: top;
}
.tg .tg-c3ow {
  /* border-color: inherit; */
  text-align: center;
  vertical-align: top;
}

/*user profile*/
.Profile-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: none;
  top: 0;
}
.Profile-page.open {
  display: block;
}

.ShowAll-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: none;
  top: 0;
}

.ShowAll-page.open {
  display: block;
}

/*confirm*/
.confirm-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 15;
  display: none;
  top: 0;
}
.confirm-page.open {
  display: block;
}
.confirm-page .modal {
  width: 75%;
}

/*confirm*/
.moreDetail-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 15;
  display: none;
  top: 0;
}
.moreDetail-page.open {
  display: block;
}

/*setting profile*/
.setting-page {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 5;
  display: none;
  top: 0;
  transition: 0.5s;
}
.setting-page.open {
  display: block;
}
.setting-page input[type='text'] {
  width: 98%;
  padding: 0 0 0 15px;
}

/* modal styles */
.modal {
  /* width: 300px; */
  padding: 20px;
  /* margin: 100px auto; */
  border-radius: 10px;
  background: white;
  /* box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  box-shadow: rgba(20, 21, 26, 0.16) 0px 8px 16px,
    rgba(71, 77, 87, 0.16) 0px 16px 32px, rgba(20, 21, 26, 0.1) 0px 0px 1px;
}

.eat-select {
  display: block;
  margin: 8px 0;
  padding: 10px 8px;
  border-width: 0 0 2px 0;
  width: 100%;
}

.mj-head {
  color: #fff;
  background-color: var(--green);
  width: 100%;
  height: 56px;
  line-height: 56px;
  display: flex;
  position: sticky;
  top: 0;
}

.head-div {
  width: 33%;
  text-align: center;
  user-select: none;
}

.setting {
  cursor: pointer;
}

.range-value {
  display: flex;
  width: 100%;
  justify-content: center;
}

.range-value input[type='number'] {
  border-bottom: 1px solid #26a69a;
  width: 70%;
}

.range-value input {
  text-align: center;
}

.range-value div {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
}

th {
  text-align: center;
}

#eat-confirm {
  cursor: pointer;
  font-size: 2.5rem;
  border: 2px solid;
}

#setting-page-cover.yes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180%;
  background-color: rgb(95 80 80 / 30%);
  z-index: 10;
}

.notification {
  width: 200px;
  background-color: #ffe100;
  left: 50%;
  position: fixed;
  margin-left: -100px;
  padding: 10px;
  text-align: center;
  border-radius: 0 0 10px 10px;
  transition: 0.4s;
  margin-top: -100%;
  font-size: 1.2rem;
  z-index: 5000;
}

.notification.active {
  margin-top: 0;
}

.switch {
  margin: 10px;
}

.setting-invite {
  /* display: none; */
  margin-bottom: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 140px; */
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#setting-invite {
  display: none;
}

.htitle {
  margin-left: 50px;
}

/* .hrDelable {
  background-color: rgba(128, 0, 0, 0.5);
  cursor: pointer;
} */

.recordRound {
  cursor: pointer;
}
#record-table-body tr:first-child {
  font-weight: bold;
  /* background-color: var(--green); */
  background-color: var(--green2);

  color: white;
}

.greenWhite {
  background-color: var(--green2);
  color: white;
}

#record-table-body tr:first-child {
  font-weight: bold;
  /* background-color: var(--red); */
  color: #fbff00;
}

/* .record-box tr:first-child{
  background: var(--green);
  color: #f9f9f9;
}
 */

#record-table-head {
  font-weight: bold;
  background-color: var(--green);
  color: white;
}

.bgcolor {
  position: relative;
  height: 100%;
  background: var(--bg);
  margin-bottom: 50px;
}

.bgtext {
  position: relative;
  height: 100vh;
  background: var(--bg);
  margin-bottom: 100px;
}
.bgtext::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  /* background: black; */
  opacity: 0.3;
  z-index: -1;
  top: 0;
  left: 0;
}
.bgtext::after {
  content: 'MJ';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  overflow: hidden;
  font-size: 10em;
  color: var(--red);
  text-align: center;
  /* text-shadow: 0px 0px 5px black; */
  /* background: #0a0a0a8c; */
  padding: 5px;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: grid;
  place-items: center;
}
@keyframes blinking {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}

/* share link */

.hidden {
  display: none;
}

svg {
  width: 20px;
  height: 20px;
  margin-right: 7px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  /* color: #777; */
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2px;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 4px;
  border: 1px solid #ddd;
  cursor: pointer;
  margin: 4px 0 4px;
}

button:hover,
.button:hover {
  border-color: #cdd;
}

.share-button,
.copy-link {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.share-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share-button {
  margin: 20px;
}

.share-dialog {
  display: none;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  z-index: -1;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 4px;
  background-color: #fff;
  /* background: rgba(0, 0, 0, 0.4); */
  margin: 20px auto;
}

.share-dialog.is-open {
  display: block;
  z-index: 2;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.targets {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.close-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.close-button svg {
  margin-right: 0;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
  background-color: #eee;
}

.pen-url {
  margin-right: 15px;
  overflow: scroll;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
  overflow-y: hidden;
}

.modal-join {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: none;
  top: 0;
}

.modal-join.open {
  display: block;
  z-index: 20;
}

#recipes-icon {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
}

tr {
  border-bottom: 2.5px solid rgba(0, 0, 0, 0.12);
}

.offline-notification {
  /* transition: transform 0.3s; */
  /* transform: translateY(-500%) translateX(-50%); */
  position: fixed;
  left: 50%;
  background: #222;
  color: white;
  padding: 0.5em;
  text-align: center;
  width: 250px;
  margin-left: -125px;
  margin-top: -100%;
  transition: 0.4s;
  z-index: 9999;
}
.offline-notification a {
  color: white;
}
.offline-notification a:visited {
  color: white;
}
.offline-notification:hover .offline-notification_explanation {
  display: block;
  z-index: 9999;
}
.offline-notification_explanation {
  display: none;
  background: inherit;
  padding-top: 1em;
}

.offline .offline-notification {
  /* transition: transform 0.3s; */
  /* transform: translateY(0) translateX(-50%); */
  margin-top: 0;
}

.targets .button {
  cursor: pointer;
  user-select: none;
}

.targets .button:hover {
  color: rgba(255, 0, 0, 0.5);
}

#qrcode {
  width: 300px;
  height: 300px;
  margin: 20px auto 0;
}

#qrcode img {
  margin: 0 auto;
}

#detailDel {
  border: 2px solid;
  border-color: #900000;
}
#eat-lauGuk {
  border: 2px solid;
  border-color: #900000;
}

.status-box {
  margin-top: 5%;
  flex: 1;
  width: 80%;
  background-color: #f7f7f7;
  /* height: 2rem; */
}

#status-table-head {
  font-weight: bold;
  background-color: var(--green2);
  color: white;
}

#status-table-body {
  font-weight: bold;
  /* background-color: var(--green); */
  /* background-color: var(--green2); */
  /* background-color: var(-); */

  color: var(--black);
}

.cal-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 10px;
  grid-template-areas: '. . . . . . . . . . . .';
  margin: 5% 0 5% 0;
}

.cal {
  align-items: center;
  justify-content: center;
  user-select: none;
  border-color: #33683e;
}

.cal-all-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 10px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent div {
  height: 100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.parent div .div1 { grid-area: 1 / 1 / 2 / 2; }
.parent div .div2 { grid-area: 1 / 2 / 2 / 3; }
.parent div .div3 { grid-area: 1 / 3 / 2 / 4; }
.parent div .div4 { grid-area: 1 / 4 / 2 / 5; }

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}
.div2 {
  grid-area: 1 / 2 / 2 / 3;
}
.div3 {
  grid-area: 1 / 3 / 2 / 4;
}
.div4 {
  grid-area: 2 / 1 / 3 / 2;
}
.div5 {
  grid-area: 2 / 2 / 3 / 3;
}
.div6 {
  grid-area: 2 / 3 / 3 / 4;
}

.rotate90 {
  transform: rotate(90deg);
}

.btnRow {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 20%;
  margin: 0 10% 5%;
}
